body{background-image: url("gradientbg.png");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;}
#content{
    margin-top: 250px;
  }

  #headerImg{
    width: 480px;
    height: 200px;
    z-index: 4;
    position: absolute;
    margin-top: -150px;
  }

  #footerImg{
    width: 480px;
    height: 200px;
    z-index: 5;
    position: absolute;
    margin-top: 250px;
  }

  #banner{
    width: 660px;
    height: 125px;
    z-index: 6;
    position: fixed;
    margin-top: -230px; 
    margin-left: -80px; }

   .historyImg{
        width: 175px;
    z-index: 8;
    position: absolute;
    margin-top: 50px;
    margin-left: -15px;
   } 

  .creditsImg{
    width: 175px;
    z-index: 7;
    position: absolute;
    margin-top: 50px;
    margin-left: 160px;
  }


/*.iframe{position: relative;
}*/
/*
.topdiv{position: relative;
		z-index:3;
		}

.bottomdiv{position: relative;
			z-index: 2;
			margin-top:-8%;}*/
